<!-- <footer class="footer">
  <small>
    <strong><a href="#">Matacode Development Training</a></strong> by
    <em><a href="#">Joel Aguilar</a></em>
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About", pages_about_path %></li>
    </ul>
  </nav>
</footer> -->

<!-- Footer -->
<footer class="page-footer font-small footer-custom">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <ul class="list-unstyled">
            <li>
              <a href="#!">Very long link 1</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto">
          <ul class="list-unstyled">
            <li>
              <%= link_to "About", pages_about_path %>
            </li>
          </ul>
        </div>
        <hr class="clearfix w-100 d-md-none">
      </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>

  </footer>